.login-container {
    background-image: url('../../../../assets/background-login.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.login-form {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 35px;
    border-radius: 3px;
    width: 400px;
    max-width: 400px;
}

.login-form form {
    margin-bottom: 0;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    text-align: left; 
    padding: 5px 0; 
    font-size: 15px;
}

.login-form .form-control:focus {
    border-color: #2d83df;
    outline: 0;
    box-shadow: none;
}

.login-form .btn-primary {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
}

.login-form .logo-container {
    text-align: left;
    padding-bottom: 20px;
}


.login-form .logo-container img {
    max-width: 100px;
}

.login-form label {
    font-size: 18px; 
}

.links-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.custom-link {
    text-decoration: none; /* Quitamos la subrayado del enlace */
    color: rgb(82, 82, 82); /* Color del texto del enlace */
    display: inline-block; /* Asegura que los enlaces se muestren en una línea */
    margin: 0 10px; /* Agrega un espacio entre los enlaces (opcional) */
    font-size: 13px;
}

.custom-link:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: rgb(2, 85, 173);
    border-color: transparent;
    font-size: 15px;
    border-radius: 4px !important;
}

.btn-primary:hover {
    background-color: rgb(3, 63, 128);
    border-color: transparent;
}

@media (max-width: 400px) {

    .login-form {
        width: 300px;
    }
 }

 @media (max-width: 300px) {

    .login-form {
        width: 200px;
    }
 }