<nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">

    <div class="container-fluid">

        <a class="navbar-brand" routerLink="/">
            <img src="../../../../assets/aurum-icon-white-blue2.png" alt="Aurum RH" class="logo-image">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/candidature-list" routerLinkActive="active">
                        {{ rol == 'candidate' ? 'Candidaturas' : 'Gestión Candidaturas' }}
                    </a>
                </li>
                
                <li class="nav-item" *ngIf="rol == 'candidate'">
                    <a class="nav-link" routerLink="/open-processes" routerLinkActive="active">Procesos Abiertos</a>
                </li>

                <li class="nav-item" *ngIf="rol == 'rrhh'">
                    <a class="nav-link" routerLink="/interviews" routerLinkActive="active">Procesos Pendientes</a>
                </li>

                <li class="nav-item" *ngIf="rol == 'admin'">
                    <a class="nav-link" routerLink="/user-management" routerLinkActive="active">Gestión Usuarios</a>
                </li>

                <li class="nav-item" *ngIf="rol == 'rrhh' || rol == 'admin'">
                    <a class="nav-link" routerLink="/candidate-list" routerLinkActive="active">Candidatos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre Nosotros</a>
                </li>

            </ul>
        
            <ul class="navbar-nav" style="margin-right: 10px;">
                <li class="nav-item dropdown">
                    <a class="nav-link" id="profileDropdown">
                        Perfil
                    </a>
                    <div class="dropdown-menu cursor-pointer" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" [routerLink]="['/profile', userId]">Ver perfil</a>
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" routerLink="/password-change">Cambiar<br>contraseña</a>
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        
        </div>

    </div>

</nav>