<div class="main-container">
    <div class="subhead-container">
        <app-navbar></app-navbar>
        <div class="container py-4">
            <div class="head d-flex flex-column flex-md-row">
                <div class="subhead d-md-flex flex-md-row justify-content-between align-items-md-center">

                    <div class="mb-3 mb-md-0 text-center">
                        <img src="../../../../assets/aurum-nombre.png" alt="logo"
                            style="max-width: 80%; height: auto; padding: 20px;">
                    </div>

                    <div class="container-fluid col-md-3">
                        <form class="d-flex input-group w-auto">
                            <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
                                aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon"
                                style="background-color: rgb(255, 255, 255);">
                                <img src="../../../../assets/icon-search.png" alt="search" style="width: 25px;">
                            </span>
                        </form>
                    </div>

                    <div class="text-center p-3 p-md-5">
                        <h5>Ofertas abiertas</h5>
                        <div class="d-flex justify-content-center" style="margin-left: 50px;">
                            <div class="green-point justify-content-center text-center">
                            </div>
                            <div class="container text-start">
                                <h2>{{ numberOfCandidatures }}</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br><br>

            <div class="row justify-content-center cards">
                <ng-container *ngFor="let candidature of candidatures">
                    <div class="col-md-6 col-12 mb-3">
                        <app-home-card [candidature]="candidature"></app-home-card>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>

    <div class="text-end p-3" style="color:rgb(73, 73, 73)">
        © 2023 Copyright: Team 4 Gold
    </div>
    
</div>

