<div class="background-container">
    <app-navbar></app-navbar>
    <div class="container main-container py-4 ">
        <div class="row g-0 p-4 ju">
            <div class="col-lg-7 col-sm-12 text-start ">
                
                <!-- ENUNCIADO -->
                <div class="p-1">

                    <!-- TITULO/NOMBRE CANDIDATURA -->
                    <div class="d-flex align-items-center px-3">
                        <!-- Titulo de la candidatura, lleva un control por si el titulo fuera muy largo que no rompa la distribucion de la vista 
                        (un exceso de caracteres se muestra con puntos suspensivos) -->
                        <h3 class="text-truncate text-truncate-overflow mb-4" *ngIf="!modeEditTitle && candidatureData"
                        title="{{candidatureData.name!.length>28 ? candidatureData.name! : ''}}"><!-- .length>28 ? candidatureData?.name : '' -->
                            {{candidatureData.name!}}
                        </h3>
                        <div class="d-flex w-75 align-items-center mb-4" *ngIf="modeEditTitle">
                            <!-- Input text que añade como valor base el contenido que ya tiene -->
                            <input *ngIf="candidatureData" type="text" class="form-control" placeholder="Nombre Candidatura"
                                [(ngModel)]="candidatureData.name"  aria-label="Candidatura" aria-describedby="Candidatura"><!-- value="{{candidatureData?.name}}" -->
                            <!-- === BOTON CONFIRMACION === -->
                            <div class="px-2">
                                <button class="circle-applied-custom fromMiddle-applied-custom" *ngIf="modeEditTitle"
                                    alt="aplicar" data-animation="magnify" (click)="saveChanges()">
                                    <span></span>
                                </button>
                            </div>
                            <!-- === BOTON DESCARTAR === -->
                            <div class="px-1">
                                <button class="circle-delete-custom fromMiddle-delete-custom" *ngIf="modeEditTitle"
                                    alt="aplicar" data-animation="magnify" (click)="deleteChanges()">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <!-- === BOTON EDITAR === -->
                        <div class="btn-edit-custom mb-3 mx-2" (click)="controlModes()"
                            *ngIf="roleuser=='rrhh' && !modeEditTitle ">
                            <span class="edit-icon-custom"></span>
                        </div>
                    </div>
                    <!-- FIN---TITULO/NOMBRE CANDIDATURA--- -->

                    <!-- INFO CANDIDATURA -->
                    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-3 px-4 justify-content-between">
                        
                        
                        <!-- SECCION LOCALIDAD -->
                        <div class="col p-0 text-center text-break"><span class="fw-bold">Localidad</span>
                            <div class="w-100 h-100 p-2 border-top">
                                <!-- si no se activa la edicion tan solo muestra la info -->
                                <div *ngIf="!modeEditTitle && candidatureData">
                                    {{candidatureData.location}}
                                </div>
                                <!-- Si edicion esta activada muestra un inputtext que añade como valor base su contenido -->
                                <div *ngIf="modeEditTitle && candidatureData">
                                    <input type="text" class="form-control" placeholder="Localizacion"
                                        [(ngModel)]="candidatureData.location" aria-label="Localizacion"
                                        aria-describedby="Localizacion">
                                </div>
                            </div>
                        </div>

                        <!-- SECCION JORNADA -->
                        <div class="col p-0 text-center text-break">
                            <span class="fw-bold">Jornada</span>
                            <div class="w-100 h-100 p-2 border-top">
                                <!-- si no se activa la edicion tan solo muestra la info -->
                                <div *ngIf="!modeEditTitle && candidatureData">
                                    {{candidatureData.typeWorkingDate}}
                                </div>
                                <!-- Si edicion esta activada muestra un inputtext que añade como valor base su contenido -->
                                <div *ngIf="modeEditTitle && candidatureData">
                                    <input type="text" class="form-control" placeholder="Jornada"
                                    [(ngModel)]="candidatureData.typeWorkingDate" aria-label="Jornada"
                                        aria-describedby="Jornada">
                                </div>
                            </div>
                        </div>

                        <!-- SECCION PLAZAS -->
                        <div class="col p-0 text-center text-break">
                            <span class="fw-bold">Candidatos</span>
                            <div class="w-100 h-100 p-2 border-top">
                                <!-- si no se activa la edicion tan solo muestra la info -->
                                <div *ngIf="!modeEditTitle && candidatureData">
                                    {{this.applyCount}}
                                </div>
                                <!-- Si edicion esta activada muestra un inputtext que añade como valor base su contenido -->
                                <div *ngIf="modeEditTitle && candidatureData">
                                    {{this.applyCount}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN---INFO CANDIDATURA--- -->
                </div>

                <!-- DESCRIPCION -->
                <div class="my-3 px-3 mb-4">
                    <div class="d-flex align-items-center">
                        <h5>Descripción</h5>
                    </div>
                    <!-- si no se activa la edicion tan solo muestra la info -->
                    <div class="txt-justify" *ngIf="!modeEditTitle && candidatureData">
                        {{candidatureData.description}}
                    </div>
                    <!-- Si edicion esta activada muestra un textarea -->
                    <div class="my-1 txt-justify" *ngIf="modeEditTitle && candidatureData">
                        <textarea class=" form-control" aria-label="With textarea" [(ngModel)]="candidatureData.description"></textarea>
                    </div>
                </div>

                <!-- REQUERIMIENTOS -->
                <div class="my-3 px-3 mb-4">
                    <div class="d-flex align-items-center">
                        <h5>Requerimientos</h5>

                    </div>
                    <!-- si no se activa la edicion tan solo mustra la info -->
                    <div class="txt-justify" *ngIf="!modeEditTitle && candidatureData">
                        {{candidatureData.requirements}}
                    </div>
                    <!-- Si edicion esta activada muestra un textarea -->
                    <div class="my-1 txt-justify" *ngIf="modeEditTitle && candidatureData">
                        <textarea class="form-control" aria-label="With textarea" [(ngModel)]="candidatureData.requirements"></textarea>
                    </div>
                </div>

                <!-- RESPONSABILIDADES -->
                <div class="my-3 px-3 text-justify">
                    <div class="d-flex">
                        <h5>Responsabilidades</h5>
                    </div>
                    <!-- si no se activa la edicion tan solo mustra la info -->
                    <div class="txt-justify" *ngIf="!modeEditTitle && candidatureData">
                        {{candidatureData.responsabilities}}
                    </div>
                    <!-- Si edicion esta activada muestra un textarea -->
                    <div class="my-1 txt-justify" *ngIf="modeEditTitle && candidatureData">
                        <textarea class="form-control" aria-label="With textarea" [(ngModel)]="candidatureData.responsabilities"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 h-50 p-5 skill-box ">
                <!-- Muestra las skills de la candidatura -->
                <div>
                    <app-skills [tableData]="'candidature'" [rol]="roleuser"></app-skills>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center mt-4"
                    *ngIf="roleuser == 'candidate' && candidatureData">
                    <div class="w-75 h-custom mt-3">
                        <!-- Botones para usuario, le deja aplicar a la oferta ¿o dejar de aplicar? -->
                        <button class="btn btn-success w-100 h-100" (click)="userAplicate()" *ngIf="userAplicated">Aplicado</button>
                        <button class="btn active btn-primary w-100 h-100" (click)="userAplicate()" *ngIf="!userAplicated && candidatureData.state ">Aplicar</button>
                    </div>
                    <div class="w-75 mt-4" *ngIf="userAplicated">
                        <!-- Boton para informar a usuario sobre estado de la aplicacion que realizo -->
                        <button class="btn  active w-100 h-100" [ngClass]="{ 'btn-secondary': aplicationStatus=='Pendiente', 'finalized': aplicationStatus=='Finalizado' }">{{aplicationStatus}}</button><!-- *ngIf="userAplicated" Pendiente [(ngModel)]="aplicationStatus"-->
                    </div>
                </div>
                <!-- Botones para cerrar, abrir candidaturas y eliminar -->
                <div *ngIf="roleuser == 'rrhh' && candidatureData">
                    <div class="d-flex justify-content-center align-items-center mt-5 btn-abrir-cerrar">
                        
                        <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                            autocomplete="off" [checked]="this.radioBtn">
                        <label class="btn btn-outline-success mx-2 w-50" for="success-outlined" (click)="changeStatusCandidature()">Abierta</label>

                        <input type="radio" class="btn-check" name="options-outlined" id="secondary-outlined"
                            autocomplete="off" [checked]="!this.radioBtn">
                        <label class="btn btn-outline-secondary mx-2 w-50" for="secondary-outlined" (click)="changeStatusCandidature()">Cerrada</label>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-4" >
                        <button type="button" class="btn btn-danger w-100" (click)="deleteCandidature()">Eliminar candidatura</button>
                    </div>
                </div>
            </div>
            <div class="mt-5" *ngIf="roleuser == 'candidate'">
                <app-progress-bar [processes]="processes" [idCurrentProcess]="idCurrentProcess"></app-progress-bar>
            </div>
        </div>
        <!-- Informacion extra segun el usuario -->
        <div class="row g-0 px-5 py-2 mt-3">
            <div *ngIf="roleuser == 'rrhh'"> <app-list-postulated [idCandidature]="this.idCandidature"></app-list-postulated></div>
           <!--  <div *ngIf="roleuser == 'user'"> proceso (usuario) </div> -->
        </div>
        <div class="row  pt-5 px-5 " *ngIf="candidatureData">
            <p class="mb-0 fw-lighter fs-6"><span class="fw-bold">Fecha creación:</span> {{candidatureData.closingDate | date:"dd-MM-yyyy"}} </p>
        </div>
        <div class="row g-0 px-5" *ngIf="roleuser == 'rrhh' && candidatureData">
            <p class="fw-lighter fs-6"><span class="fw-bold">creado por:</span> {{candidatureData.creator.name}} {{candidatureData.creator.lastname}}</p>
        </div>
    </div>
</div>