/* .br-ul-custom{
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
} */
.pl-custom{
  padding-left: 2rem;
}
.square-btn {
    width: 5vw;
    height: 5vw;
    border-radius: 0; 
  }
.max_size-scroll{
  max-height: 200px;
}
.icon-container {
  width:50px;
  height:60px;
  }
  .icon-container .autowidth {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .br-custom{
    border-radius: 3px;
  }
.text-font-custom{
  font-weight: 600;
}
/* .btn-style-custom{
  --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
} */
.material-symbols-outlined{
  font-size: 100%; 
  
}

/* Marco estuvo aqui */
.main-container {
  width: 100%;
  height: 100%;
}
ul{
  height: 100%;
  margin:0;
}

.skills-container {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  margin-top: 18px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgb(228, 228, 228);
}

.max_size-scroll {
  max-height: 400px;
}
.icon-container {
    width: 25px;
    margin-left: 100px;
  }
/* Fin de la era de Marco */

  /* Effecto Checkbox */
  /* Creditos https://codepen.io/Sambego */
  .checkbox {
    position: relative;
   /*  top: -0.375rem;
    margin: 0 1rem 0 0; */
    cursor: pointer;
  }
  .checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #dadada;
    border-radius: 3px;
  }
  .checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 0.5rem;
    border-color: #009688;
    border-top-style: none;
    border-right-style: none;
    border-radius: 0;
  }
  .checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
  }
  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(6.25rem);
      transform: translateY(6.25rem);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes slideUp {
    0% {
      -webkit-transform: translateY(6.25rem);
      transform: translateY(6.25rem);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  /* --- BOTON DE ELIMINAR --- */
  /*Creditos https://codepen.io/JonasBadalic */
  
  /* circulo/borde exterior */
  .circle-delete-custom {
    width: 24px;
    height: 24px;
    background: transparent;
    border: 2px solid #E91E63;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    /* display: inline-block; */
    /* margin: 10px 20px; */
  }
  /* Barra diagonal*/
  .circle-delete-custom:after {
    width: 10px;
    height: 2px;
    background-color: #E91E63;
    content: "";
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -1px;
    position: absolute;
    transform: rotate(-45deg);
  }

  /* barra diagonal */
  .circle-delete-custom:before {
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -1px;
    width: 10px;
    height: 2px;
    background-color: #E91E63;
    content: "";
    position: absolute;
    transform: rotate(45deg);
  }

  
  /* aplica la animacion a la clase con el atributo data-animation */
  .circle-delete-custom[data-animation="magnify"]:not(.magnify) {
    transition: ease-in-out 100ms;
  }
  .circle-delete-custom[data-animation="magnify"]:not(.magnify):hover {
    transform: scale(0.9);
  }
  

  
  .fromMiddle-delete-custom:before, .fromMiddle-delete-custom:after {
    z-index: 1000;
    transition-delay: 150ms;
    transition: ease-in-out 400ms;
  }

  /* circulo interno */
  .fromMiddle-delete-custom span {
    width: 22px;
    height: 22px;
    background-color: #E91E63;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -1px;
    top: -1px;
    z-index: -9999;
    transform: scale(0.3);
    opacity: 0;
    transition: ease-in-out 300ms;
  }
  
  /* La animacion de rellenado interno*/
  .fromMiddle-delete-custom:hover:before, .fromMiddle-delete-custom:hover:after {
    position: absolute;
    background-color: #fff;
  }
  .fromMiddle-delete-custom:hover span {
    /* -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1); */
    transform: scale(1);
    opacity: 1;
  }

  /* --- BOTON DE EDITAR --- */
  /* Creditos https://codepen.io/FluidOfInsanity */
  .btn-edit-custom{
    border: 0;
    background-color: transparent ;
  }
  .btn-edit-custom span {
    display: inline-block;
    float: left;
  }
  .btn-edit-custom .edit-icon-custom {
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  /* El cuadro de dentro 'simula la hoja'*/
  .btn-edit-custom .edit-icon-custom:before {
    border: 3px solid #033f80;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
  }
  /*El lapiz*/
  .btn-edit-custom .edit-icon-custom:after { 
    background: #033f80;
    /*border: 2px #228be6 solid;*/
    border-bottom-left-radius: 5px 15px;
    border-bottom-right-radius: 5px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
    box-shadow: 0 0 0 1px #fff;
    content: "";
    display: inline-block;
    height: 55%;
    position: absolute;
    top: 4%;
    left: 50%;
    width: 6px; 
    transform: translate(0, 0) rotate(45deg);
    transform-origin: 50% 75%;
    /*transition: background .4s, box-shadow .4s;*/
  }
  .btn-edit-custom:hover span:after {
    animation: wiggle .25s 1 linear;
  }
  
  @keyframes wiggle {
    0% {transform: translate(0,0) rotate(45deg);}
    25% {transform: translate(0,0) rotate(25deg);}
    50% {transform: translate(0,0) rotate(45deg);}
    75% {transform: translate(0,0) rotate(65deg);}
    100% {transform: translate(0,0) rotate(45deg);}
  }

  /* --- BOTON AÑADIR --- */

  
  /* circulo/borde exterior */
  .circle-create-custom {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid #033f80;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    /* display: inline-block;
    margin: 10px 20px; */
  }
  /* Barra vertical*/
  .circle-create-custom:after {
    width: 10px;
    height: 2px;
    background-color: #033f80;
    content: "";
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -1px;
    position: absolute;
  }

  /* barra horizontal */
  .circle-create-custom:before {
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -1px;
    width: 10px;
    height: 2px;
    background-color: #033f80;
    content: "";
    position: absolute;
    transform: rotate(90deg);
  }

  
  /* aplica la animacion a la clase con el atributo data-animation */
  .circle-create-custom[data-animation="magnify"]:not(.magnify) {
    transition: ease-in-out 100ms;
  }
  .circle-create-custom[data-animation="magnify"]:not(.magnify):hover {
    transform: scale(0.9);
  }
  
  .fromMiddle:before, .fromMiddle:after {
    z-index: 1000;
    transition-delay: 150ms;
    transition: ease-in-out 400ms;
  }

  /* circulo interno */
  .fromMiddle span {
    width: 33px;
    height: 33px;
    background-color: #0255ad;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -1px;
    top: -1px;
    z-index: -9999;
    transform: scale(0.3);
    opacity: 0;
    transition: ease-in-out 300ms;
  }
  
  /* La animacion de rellenado interno*/
  .fromMiddle:hover:before, .fromMiddle:hover:after {
    position: absolute;
    background-color: #fff;
  }
  .fromMiddle:hover span {
    transform: scale(1);
    opacity: 1;
  }