.pl-custom{
  padding-left: 2rem;
}
.square-btn {
    width: 5vw;
    height: 5vw;
    border-radius: 0; 
  }
.max_size-scroll{
  max-height: 300px;
}
.icon-container {
    width: 25px;
    margin-left: 100px;
  }

  .br-custom{
    border-radius: 3px;
  }
.text-font-custom{
  font-weight: 600;
}

.material-symbols-outlined{
  font-size: 100%; 
  
}

/* Marco estuvo aqui */
.main-container {
  width: 100%;
  height: 100%;
}
ul{
  height: 100%;
  margin:0;
}

.skills-container {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  margin-top: 18px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgb(228, 228, 228);
}

.max_size-scroll {
  max-height: 400px;
}
.icon-container {
    width: 25px;
    margin-left: 100px;
  }
/* Fin de la era de Marco */

ul{
  padding-inline-start: 0;
}