<div class="w-100 h-100" >
    <div class="d-flex justify-content-between">
        <!-- change the title according to the url  -->
        <h3 class="mx-2">{{ actualRoute == '/candidate-details' ? tittle2 : tittle }}</h3>

        <!-- Conditional have option for edit in (user, /profile) and (rrhh, /candidate-details) -->
        <button class="col-1 btn btn-primary square-btn" (click)="editFunction()"
            *ngIf="
            (rol == 'rrhh' && actualRoute == '/candidate-details') 
            || 
            (rol == 'user' && actualRoute == '/profile')" >
        </button>
    </div>


    <div class="overflow-y-auto">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of skills.skills">
                <div class="d-flex justify-content-between">
                    {{item.skill}}
                    <!-- Only see in /candidate-application path -->
                    <div *ngIf="actualRoute == '/'"><!-- candidate-application -->
                        <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" [checked]="item.confirmation" (click)="isCheked(item.skill, item.confirmation)">
                    </div>
                    <!-- Only see if button edit is enabled -->
                    <div *ngIf="editActivate">
                        <button class="col-1 btn btn-warning square-btn mx-1"  (click)="removeSkills(item)"></button>
                        <button class="col-1 btn btn-danger square-btn mx-1"  (click)="removeSkills(item)"></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
