<!-- General div for skills -->
<div class="main-container" ><!-- px-3 w-100 h-100 -->
    <!-- container for head of skills (tittle and edit button) -->
    <div class="d-flex justify-content-between pb-3"><!-- mb-3 -->
        <!-- Cambia el titulo segun URL pl-custom -->
        <h5 class="mx-2 mt-2">{{ actualRoute == '/candidature-details/' + idRoute ? title2  : (actualRoute == '/candidate-details/' + idRoute ? '' : title) }}</h5>

        <!-- Condicional para activar boton edicion (rol:candidate, url:/profile) y (rol:rrhh, url:/candidature-detail) -->
        <button class="btn-edit-custom" (click)="editFunction()" *ngIf="(actualRoute == '/profile/' + idRoute) || (this.roleuser == 'rrhh' && actualRoute == '/candidature-details/' + idRoute) || (this.roleuser == 'rrhh' && actualRoute == '/candidature-create')">
            <span class="edit-icon-custom"></span>
        </button>
    </div>

    <!-- Este div contiene las hablilidades y tambien las opciones añadir más y tambien la opcion de confirmacion -->
    <div class="overflow-y-auto  max_size-scroll "><!-- h-100 skills-container -->
        <ul class="list-group-flush  h-100 text-font-custom "><!--list-group  -->



            <!-- --- AÑADIR HABILIDADES --- -->
            <!-- Este <li> contiene la opcion donde se pueden añadir mas elementos a la base de datos -->
            <li class="list-group-item px-2 mb-3" *ngIf="editActivate"> 
                <div class="d-flex  justify-content-between">
                    <!-- input that collects the text to add it as a skill  -->
                    <div class="col-10">
                        <input class="form-control " type="text" id="miInput" placeholder="Inserte aptitud" [(ngModel)]="skillinsert"><!--  -->
                    </div>
                    
                    <!-- Boton Añadir -->
                    <div class="d-flex justify-content-center align-items-center col-2" *ngIf="editActivate">
                        <button class="circle-create-custom  fromMiddle" data-animation="magnify" (click)="addSkills()"> <!-- btn square-btn mx-1 material-symbols-outlined  icon-container btn-style-custom -->   
                            <span></span>
                        </button>
                    </div>
                </div>
            </li>

            <!-- --- HABILIDADES USUARIO --- -->
            <!-- Este contenedor muestra las Habilidades de Usuario -->
            <ng-container *ngIf="user">
                <li class="px-2 py-1 list-group-item" *ngFor="let skillUser of skillsOfUser">
                    <div class="d-flex py-2 justify-content-start border br-custom align-items-center col-12"> 
                        <!-- Muestra el nombre de la hailidad -->
                        <div class="col-10 d-flex justify-content-between text-start px-4">
                            {{skillUser.skill.name}}
                        </div>

                        <!-- -- CHECKBOX (CONFIRMAR HABILIDAD) -- -->
                        <div class="col-2 d-flex align-items-center justify-content-end px-3" *ngIf="actualRoute == '/candidate-application/' + idRoute || actualRoute == '/candidate-details/' + idRoute">
                            <input class="me-1 checkbox" type="checkbox" [checked]="skillUser.validated" (click)="isChecked(skillUser)">
                        </div>

                        <!-- -- BOTON ELIMINAR -- -->
                        <!-- Solo se vera si el boton editar es activado -->
                        <div class="col-2 d-flex  justify-content-center align-items-center" *ngIf="editActivate">
                            <button class="circle-delete-custom fromMiddle-delete-custom" data-animation="magnify" ><!--data-remove="3000" btn square-btn mx-1 material-symbols-outlined  icon-container btn-style-custom --> <!-- (click)="removeSkills(item.skill)" -->   
                                <span></span>
                                <!-- <span class="  material-symbols-outlined line-height-base text-start autowidth">   
                                    disabled_by_default
                                </span>  -->
                            </button>
                        </div>
                    </div>
                </li>
            </ng-container>
            

            <!-- --- HABILIDADES REQUERIDAS CANDIDATURA --- -->
            <ng-container *ngIf="candidature">
                <li class="px-2 py-1 list-group-item" *ngFor="let skillCandidature of skillsOfUser">
                    <div class="d-flex py-1 justify-content-start border br-custom align-items-center">
                        <!-- Muestra el nombre de la habilidad -->
                        <div class="col-10 text-start px-4">
                            {{skillCandidature.skill.name}}
                        </div>

                        <!-- -- BOTON ELIMINAR -- -->
                        <!-- Solo se vera si el boton editar es activado -->
                        <div class="col-2 d-flex  justify-content-center align-items-center" *ngIf="editActivate">
                            <button class="circle-delete-custom fromMiddle-delete-custom " data-animation="magnify" ><!-- NO BORRAR SIRVE PARA BACKEND -- (click)="removeSkills(skill.skill)" -- -->   
                                <span></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
