<!-- General div for skills -->
<div class="main-container" >
    <!-- conw-100 h-100tainer for head of skills (tittle and edit button) -->
    <div class="d-flex justify-content-between">
        <!-- Cambia el titulo segun URL  -->
        <h5 class="mx-2">{{ actualRoute == '/candidature-details/' + idRoute ? title2  : (actualRoute == '/candidate-details/' + idRoute ? '' : title) }}</h5>

        <!-- Condicional para activar boton edicion (rol:candidate, url:/profile) y (rol:rrhh, url:/candidature-detail) -->
        <img src="../../../../assets/icon-edit.png" class="cursor-pointer mx-2 col-1 h-100  d-flex justify-content-end icon-container"
        (click)="editFunction()"
        *ngIf="(actualRoute == '/profile/' + idRoute) || (rol == 'rrhh' && actualRoute == '/candidature-details/' + idRoute)">
    
    </div>

    <!-- Este div contiene las hablilidades y tambien las opciones añadir más y tambien la opcion de confirmacion -->
    <div class="overflow-y-auto h-75 max_size-scroll skills-container">
        <ul class="list-group list-group-flush h-100 ">


            <!-- --- AÑADIR HABILIDADES --- -->
            <!-- Este <li> contiene la opcion donde se pueden añadir mas elementos a la base de datos -->
            <li class="list-group-item" *ngIf="editActivate"> 
                <div class="d-flex justify-content-between">
                    <!-- input that collects the text to add it as a skill  -->
                    <input class="form-control" type="text" id="miInput" placeholder="Inserte aptitud" ><!-- [(ngModel)]="skillinsert" -->
                    <!-- boton añadir -->
                    <button class=" btn btn-light square-btn mx-1 h-100 material-symbols-outlined icon-container"  ><!-- (click)="addSkills()" -->
                        <!-- Icono añadir -->
                        <span class="  material-symbols-outlined line-height-base text-start autowidth">add_box</span>
                    </button>
                </div>
            </li>

            <!-- --- HABILIDADES USUARIO --- -->
            <!-- Este contenedor muestra las Habilidades de Usuario -->
            <ng-container *ngIf="user">
                <li class="list-group-item" *ngFor="let user of user.skills">
                    <div class="d-flex justify-content-between">
                        <!-- Muestra el nombre de la hailidad -->
                        {{user.skill}}

                        <!-- -- CHECKBOX (CONFIRMAR HABILIDAD) -- -->
                        <!-- Este div solo se muestra en la ruta "/candidate-application" -->
                        <div *ngIf="actualRoute == '/candidate-application/' + idRoute || actualRoute == '/candidate-details/' + idRoute">
                            <input class="form-check-input me-1" type="checkbox" [checked]="user.confirmation">
                            <!-- (click)="isChecked(item.skill, item.confirmation)" -->
                        </div>

                        <!-- -- BOTON ELIMINAR -- -->
                        <!-- Solo se vera si el boton editar es activado -->
                        <div *ngIf="editActivate">
                            <button class="btn btn-light square-btn mx-1 material-symbols-outlined h-100 icon-container"  > <!-- (click)="removeSkills(item.skill)" -->   
                                <span class="  material-symbols-outlined line-height-base text-start autowidth">   
                                    disabled_by_default
                                </span> 
                            </button>
                        </div>
                    </div>
                </li>
            </ng-container>
            

            <!-- --- HABILIDADES REQUERIDAS CANDIDATURA --- -->
            <ng-container *ngIf="candidature">
                <li class="list-group-item" *ngFor="let skill of candidature.skills">
                    <div class="d-flex justify-content-between">
                        <!-- Muestra el nombre de la hailidad -->
                        {{skill}}

                        <!-- -- BOTON ELIMINAR -- -->
                        <!-- Solo se vera si el boton editar es activado -->
                        <div *ngIf="editActivate">
                            <!-- button for deleted skill -->
                            <button class="btn btn-light square-btn mx-1 material-symbols-outlined h-100 icon-container"  > <!-- (click)="removeSkills(skill.skill)" -->   
                                <span class="  material-symbols-outlined line-height-base text-start autowidth">disabled_by_default</span> 
                            </button>
                        </div>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
