<app-navbar></app-navbar>
<div class="container">

    <div class="my-5 row">

        <div class="col-12 col-md-5 d-flex flex-column align-items-center">
            <img src="http://localhost:3000/user.jpg" alt="Imagen de usuario default" class="mb-4">
    
            <div class="d-flex flex-column justify-content-center text-center">
                <p class="fs-3">{{ user?.name }} {{ user?.lastname }}</p>
                <p class="fs-5">{{ user?.email }}</p>
            </div>
        </div>
    
        <div class="col-12 col-md-7">
            <div>
                <h4 class="mb-3">{{ candidature.title }}</h4>
                <h6 class="mb-3">{{ candidature.location }} · {{ candidature.typeworkingday }} · {{ candidature.applicants }}</h6>
                <h6 class="mb-2">Descripción</h6>
                <p>{{ candidature.description }}</p>
            </div>
            
        </div>

        <div class="mt-5 col-12">
            <app-progress-bar [processes]="processes" [processStatus]="processStatus"></app-progress-bar>
        </div>

    </div>

    <div class="row mb-5">

        <div class="col-12 col-md-5 d-flex flex-column align-items-center mb-5 mb-md-0">
            <app-skills class="w-100" [tableData]="'user'" [rol]="'rrhh'"></app-skills>
        </div>

        <div class="col-12 col-md-7">
            <div class="d-flex justify-content-between mb-3">
                <h4>Procesos</h4>
                <button class="btn btn-primary" (click)="addProcessMode = !addProcessMode">Nuevo proceso</button>
            </div>
            
            <ul class="list-group">
                <li class="list-group-item d-flex flex-lg-row flex-column justify-content-between align-items-center" *ngFor="let process of processes">
                    <div class="col-8 d-flex justify-content-between my-2 mb-lg-0">
                        <span>{{ process.title }}</span>
                        <span>{{ process.date }}</span>
                    </div>
                    
                    <div class="d-flex align-items-center my-2 mb-lg-0">
                        <input class="form-check-input me-5" type="radio" name="radio" [checked]="process.title == processStatus" (click)="processStatus = process.title">
                        <button class="btn btn-danger">Eliminar</button>
                    </div>
                </li>
                <li class="list-group-item d-flex flex-lg-row flex-column gap-3" *ngIf="addProcessMode">
                    <input type="text" class="form-control" id="processName" placeholder="Nombre del proceso">
                    <input type="date" class="form-control" id="processDate">
                    <button class="btn btn-primary">Guardar</button>
                </li>
            </ul>
        </div>

    </div>



</div>