<app-navbar></app-navbar>

<div class="container py-4">

    <div class="row justify-content-end">
        <div class="mb-4 col-md-4 col-lg-3 col-xl-2 col-12">
            <select class="form-select" aria-label="Fecha ASC">
                <option selected>Fecha ASC</option>
                <option value="1">Fecha DESC</option>
                <option value="1">Nombre ASC</option>
                <option value="1">Nombre DESC</option>
            </select>
        </div>
    </div>

    <div class="row">

        <div class="col">
            <div class="card mb-5" *ngFor="let interview of displayedInterviews">
                <div class="card-body d-flex justify-content-between align-items-center flex-md-row flex-column">
                    <h3 class="card-title d-flex align-items-center gap-3">
                        <img src="http://localhost:3000/user.jpg" alt="Imagen de usuario default">
                        {{ interview.user }}
                    </h3>
                    <h5>
                        {{ interview.title }} - {{ interview.date }}
                    </h5>
                    <a type="button" class="btn btn-primary" [routerLink]="['/candidature-details', interview.id]">Ver Postulación</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-auto">

            <app-pagination
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                (pageChanged)="onPageChanged($event)"
            ></app-pagination>

        </div>
    </div>
    
</div>