/* container fondo gris */
.main-container {
    background-color: #e0e0e0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* pagina container blanco candidato */
.container-candidate { 
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
    margin-top: 80px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.user-img {
    border-radius: 50%;
    border: 1px solid rgb(3, 63, 128);
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    margin-top: -30px;
    object-fit: cover; 
    object-position: center;
}

p {
    font-size: 20px;
}

.nav-link:hover {
    cursor: pointer;
}

.card-text {
font-size: 18px;
}

/* carta grande de notas */
.card {
    width: 930px;
    margin-left: 17px;
}

/* cartas de postulaciones */
.post-cards .card {
    width: 430px;
}

@media (max-width: 1000px) {

    .container-candidate {
        width: 700px;
        height: auto;
    }

    /* cartas de postulaciones */
    .post-cards .card {
        width: 300px;
        margin-bottom: 15px;
    }

    /* carta grande de notas */
    .card {
        width: 650px;
        margin-left: 0px;
    }

}

@media (max-width: 800px) {

    .container-candidate {
        width: 500px;
        height: auto;
    }

    /* cartas de postulaciones */
    .post-cards .card {
        width: auto;
        margin-bottom: 15px;
    }

    /* carta grande de notas */
    .card {
        width: 450px;
        margin-left: 0px;
    }

}

@media (max-width: 700px) {

    .container-candidate {
        width: 345px;
        height: auto;
    }

    /* cartas de postulaciones */
    .post-cards .card {
        width: 270px;
        margin-bottom: 15px;
    }

    /* carta grande de notas */
    .card {
        width: 320px;
        margin-left: 0px;
    }
}

@media (max-width: 500px) {

    .container-candidate {
        width: 315px;
        height: auto;
    }

    /* cartas de postulaciones */
    .post-cards .card {
        width: auto;
        margin-bottom: 15px;
    }

    /* carta grande de notas */
    .card {
        width: auto;
        margin-left: 0px;
    }
}

.title-text {
    font-size: 14px;
    color:rgb(133, 133, 133);
}

.eye-icon {
    max-width: 40px;
    height: auto; 
    filter: saturate(90%);
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.custom-card-header {
    background-color: #dadada; /* Cambia el color de fondo  */
    border-bottom: 1px solid #6e6e6e; /* Cambia el estilo del borde  */
}

.custom-nav-link {
    color: #161616; /* Cambia el color del texto de las pestañas  */
    /* font-weight: bold; Ajustar el peso de la fuente  */
}

.custom-nav-link.active {
    background-color: #ffffff; /* Cambia el color de fondo de la pestaña activa  */
    border-color: #b9b9b9; /* Cambia el color del borde de la pestaña activa  */
}

.card-text {
    font-size: 16px;
}

