<app-navbar></app-navbar>
<div class="container">

    <div class="d-flex justify-content-evenly flex-wrap my-5 gap-5 items-align-center">

        <div>
            <img src="http://localhost:3000/user.jpg" alt="Imagen de usuario default">
        </div>

        <div class="d-flex flex-column justify-content-center">
            <div>
                <p>Nombre: {{ name }} {{ lastname }}</p>
            </div>
            <div>
                <p>Email: {{ email }}</p>
            </div>
            <div class="d-flex justify-content-between flex-wrap gap-2 gap-sm-5">
                <div>
                    <p class="col-12">Teléfono: {{ tel }}</p>
                </div>
                <div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Valoración</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div> 
        </div>

    </div>

</div>
