.main-container {
    background-color: #e0e0e0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.container-general {
    margin-top: 70px;
    max-width: 1000px;
}

.cards-head {
    background-color: rgb(114, 114, 114);
    color: rgb(255, 255, 255) !important;
    font-size: 20px;
    max-height: 70px;
}

img {
    width: 3.8rem;
    border-radius: 50%;
}

.card {
    border-radius: 4px;
    height: 90px;
}

.card-title {
    font-size: 19px;
}

.grey-text {
    color: #858585;
}

.email-text {
    font-size: 19px;
}

.btn-primary {
    background-color: rgb(2, 85, 173);
    border-color: transparent;
    font-size: 15px;
    border-radius: 4px !important;
}

.btn-primary:hover {
    background-color: rgb(3, 63, 128);
    border-color: transparent;
}

@media (max-width: 770px) {
    .cards-head {
        display: none;
    }

    .card {
        height: auto;
    }
}