.main-container {
    background-color: #e0e0e0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.container-general {
    margin-top: 70px;
    max-width: 1000px;
}

img {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    object-fit: cover; /* Ajusta la imagen al tamaño del círculo sin dejar huecos en blanco */
    object-position: center;
}

.card {
    border-radius: 4px;
}


.cards-head {
    background-color: rgb(114, 114, 114);
    color: rgb(255, 255, 255) !important;
    font-size: 20px;
    max-height: 70px;
}

.card-title {
    font-size: 19px;
}

.eye-icon {
    max-width: 40px;
    height: auto; 
    padding-left: 5px;
    filter: saturate(90%);
    cursor: pointer;
}

.truncate-text {
    display: inline-block;
    max-width: calc(100% - 32px); 
    white-space: normal; 
    word-wrap: break-word; 
}

@media (max-width: 770px) {
    .cards-head {
        display: none;
    }
}

#skills-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}