<div class="background-container">
    <div class="main-container">
        <app-navbar></app-navbar>
        <div class="container-profile d-flex shadow p-3 rounded justify-content-center align-items-center">
            <div class="grid-container">
                <!-- Cuadrante 1: Información personal y edición -->
                <div class="quadrant quadrant-1">
                    <div class="content1">
                        <!-- Sección de imagen de perfil y cambio de imagen -->
                        <div class="image-section">
                            <div class="image-container">
                                <img src="../../../assets/userph.jpg" alt="Imagen" class="img-fluid">
                            </div>
                            <div class="change-image-container">
                                <a href="https://example.com">
                                    <img src="../../../assets/icon-edit.png" alt="cambio" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <br>
                        <!-- Sección de información personal editable -->
                        <div class="perfil">
                            <!-- Iteración sobre los textos en 'textosNombre' -->
                            <div *ngFor="let claveTexto of textosNombre" class="mb-3">
                                <div class="d-flex justify-content-center">
                                    <!-- Mostrar el texto editable o el modo de edición -->
                                    <ng-container *ngIf="!editando.get(claveTexto); else editarBloque">
                                        <!-- Mostrar el texto normal o grande dependiendo del tipo -->
                                        <p [ngClass]="{'texto-grande texto-titulo': claveTexto === 'nombre' || claveTexto === 'apellidos', 'texto-titulo': claveTexto === 'titulo'}">{{ textos.get(claveTexto) }}</p>
                                        <!-- Botón de edición -->
                                        <div class="align-items-center">
                                            <img src="../../../assets/icon-edit.png" alt="Editar" (click)="editar(claveTexto)"
                                                style="width: 20px; height: 20px; cursor: pointer; margin-left: 15px;">
                                        </div>
                                    </ng-container>
                                </div>
                                <!-- Modo de edición -->
                                <ng-template #editarBloque>
                                    <div class="d-flex flex-column">
                                        <textarea class="form-control" [(ngModel)]="tempText"></textarea>
                                        <!-- Botones de guardar y cancelar -->
                                        <div class="d-flex justify-content-center">
                                            <img src="../../../assets/check.png" alt="guardar" (click)="guardar(claveTexto)"style="width: 30px; height: 30px; cursor: pointer;">
                                            <img src="../../../assets/cancelar.png" alt="cancelar" (click)="cancelar(claveTexto)"style="width: 30px; height: 30px; cursor: pointer;">
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>                                              
                    </div>
                </div>
                <!-- Cuadrante 2: Información de contacto -->
                <div class="quadrant quadrant-2">
                    <!-- Campos de información de contacto -->
                    <br>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/telephone.png" alt="num" style="width: 30px; height: 30px; margin-right: 20px;">
                        <input type="text" class="form-control">
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/mail.png" alt="email" style="width: 30px; height: 30px; margin-right: 20px;">
                        <input type="text" class="form-control">
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/linkedin.png" alt="linkdin" style="width: 30px; height: 30px; margin-right: 20px;">
                        <input type="text" class="form-control">
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/github.png" alt="github" style="width: 30px; height: 30px; margin-right: 20px;">
                        <input type="text" class="form-control">
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/web.png" alt="web" style="width: 30px; height: 30px; margin-right: 20px;">
                        <input type="text" class="form-control">
                    </div>
                    <br>
                    
                </div>
                <!-- Cuadrante 3: Descripción -->
                <div class="quadrant quadrant-3">
                    <div class="text-section">
                        <p class="text-start">Descripción</p>
                        <textarea class="form-control" rows="4" placeholder=""></textarea>
                    </div>
                </div>
                <!-- Cuadrante 4: Skills -->
                <div class=""><!-- quadrant quadrant-4 <---- Clases comentadas ya que rompian el skills base -->
                    <app-skills [applicant]="'usuario'" [rol]="'user'"></app-skills>
                </div>
            </div>
        </div>
    </div>
</div>