.background-container {
    background-color: #e0e0e0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.main-container {
    margin-top: 100px;
}

/* container de la hoja de perfil */
.container-profile { 
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* tamaño de los inputs */
.quadrant.quadrant-2 .form-control {
    width: 350px;
}

/* control de tamños en pantallas pequeñas y collapse de grid */
@media (max-width: 1000px) {
    .container-profile {
        width: 500px;
        height: auto;
    }

    .container-profile .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .container-profile textarea {
        width: 350px;
        height: 150px;
        max-height: 150px;
        min-height: 150px;
    }
    .quadrant.quadrant-2 .form-control {
        width: 230px;
    }

    .skill-box {
        padding: 50px;
    }
}

@media (max-width: 700px) {
    .container-profile {
        width: 350px;
        height: auto;
    }

    .container-profile .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .container-profile textarea {
        width: 270px;
        height: 150px;
        max-height: 150px;
        min-height: 150px;
    }

    .quadrant.quadrant-2 .form-control {
        width: 230px;
    }

    .skills {
        margin-top: 0px;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }

    .skill-box {
        padding: 20px;
    }
}

@media (max-width: 340px) {
    .container-profile {
        width: 320px;
        height: auto;
    }

    .container-profile .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .container-profile textarea {
        width: 270px;
        height: 150px;
        max-height: 150px;
        min-height: 150px;
    }

    .quadrant.quadrant-2 .form-control {
        width: 230px;
    }

    .skills {
        margin-top: 0px;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }

    .skill-box {
        padding: 20px;
    }
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.7fr);
    gap: px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

/* compartido por cada cuadrante del grid */
.quadrant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* container de foto y nombre */
.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* foto y nombre */
.image-section, .text-section {
    padding: 10px;
    text-align: center;
}

.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgb(2, 85, 173);
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.circle {
    width: 200px; /* Ajusta el ancho y alto para hacer un círculo */
    height: 200px;
    border-radius: 50%; /* Hace que el contenedor sea un círculo */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del círculo */
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al tamaño del círculo sin dejar huecos en blanco */
    object-position: center; /* Centra la imagen en el círculo */
}

/* container boton change (editor azul) */
.change-image-container {
    width: 25px;
    height: 25px;  
}

/* tamaño fijo del area de texto */
textarea {
    width: 400px;
    height: 200px;
    max-height: 150px;
    min-height: 150px;
}

.perfil textarea {
    width: 250px;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
}

.image-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}  

/* estilos letra nombre */
.texto-grande {
    font-size: 22px; 
    margin-bottom: -5px;
    cursor: pointer;
}

.texto-titulo {
    color: rgb(129, 129, 129); 
    cursor: pointer;
}

.texto-grande:hover {
    font-weight:500;
}

.texto-titulo:hover {
    font-weight:500;
}

/* .skills {
    margin-top: 32px;
    margin-left: 89px;
} */