
<div class="card border-custom col h-100 block border-light-subtle ">
        <!-- image -->
        <div class="w-100 col-md-4 p-2 d-flex justify-content-center align-items-center header">
            <img src="¨{{developer.imgurl}}" class=" rounded-circle max-height-100" alt="Image_Joel">
        </div>
        <!-- Content -->
        <div class="d-flex h-100  align-items-end border-resolution-position pt-4"><!-- align-items-center -->
            <div class="p-2 w-100 d-flex flex-column align-items-end  overflow-hidden 
             minor-resolution-position text-center size-custom">
                <h5 class="card-title p b-auto fw-bold w-100">{{developer.nombre}}</h5>
                <p class=" w-100 ">{{developer.descripcion}}</p>
                <div class="d-flex mt-auto justify-content-center w-100 button-resolution-position mt-auto">
                    <a href="{{developer.linkedinurl}}" type="button" class="btn btn-primary" target="_blank">Linkedin</a>
                </div>
            </div>
        </div>

</div>
