
.main-container {
    background-color:#eeeeee;
    height: 100vh;
}

.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password-form {
    margin-top: 100px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 35px;
    border-radius: 3px;
    width: 500px;
    max-width: 800px;
    min-width: 350px;
}

.change-password .form-group {
    margin-bottom: 15px;
}

.change-password-form .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    text-align: left; 
    padding: 5px 0; 
    font-size: 15px;
}

.change-password-form .form-control:focus {
    border-color: #2d83df;
    outline: 0;
    box-shadow: none;
}

.change-password-form .btn-primary {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
}

.change-password-form label {
    font-size: 18px; 
}

