<div class="main-container ">
    <app-navbar></app-navbar>
    <div class="change-password-container ">
        <div class="change-password-form">
            <form>
                <div class="form-group">
                    <label for="username">Cambio de contraseña</label>
                    <br><br>
                    <input type="password" class="form-control" id="password" placeholder="Contraseña actual">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="new-password" placeholder="Nueva contraseña">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="new-password-repeat"
                        placeholder="Repita nueva contraseña">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Confirmar</button>
            </form>
        </div>
    </div>
</div>