/* You can add global styles to this file, and also import other style files */
.main-container {
    background-image: url('../../../../assets/background-login.png');
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}