.card {
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border-color: transparent !important ;
    background-color: rgb(255, 255, 255);
}

.btn-primary {
    background-color: rgb(2, 85, 173);
    border-color: transparent;
    border-radius: 100%;
    font-size: 15px;
}

.btn-primary:hover {
    background-color: rgb(3, 63, 128);
    border-color: transparent;
}

.secundary-list {
    font-size: 15px;
    color: rgb(107, 107, 107);
}

.eye-icon {
    max-width: 40px;
    height: auto; 
    padding-left: 5px;
    filter: saturate(90%);
    cursor: pointer;
}